{% extends "_main.jinja" %}

{% block title %} Error! {% endblock %}

{% block main %}
    <div class="internal_error">
        <p>
        Oooops! Error occured. Sorry, inknow error occured. Please contact
        <a href="mailto:support@hobla.sk">support</a>
        </p>
    </div>
{% endblock %}