{% extends "_main.jinja" %}

{% block title %} Welcome to E Bikes Orava blog {% endblock %}

{% block main %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
{% endblock %}