{% extends "_main.jinja" %}

{% block title %} Welcome to E Bikes Orava blog {% endblock %}

{% block main %}
Hi, I'm Michal, this is just some project about E-bikes or Electric Motorcycles.Main purpose of this website is inform you about 
    our common hobby Motorcycles and E-moto in Orava region.
{% endblock %}