<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Bikes Orava</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<header>
    <h1>E Bikes Orava</h1>
</header>

<nav>
    <a href="#">Domov</a>
    <a href="#">Články</a>
    <a href="#">O nás</a>
    <a href="#">Kontakt</a>
</nav>

<main>
    Hi, I'm Michal, this is just some project about E-bikes or Electric Motorcycles.Main purpose of this website is inform you about 
    our common hobby Motorcycles and E-moto on Orava region.
</main>

<footer>
    <p>&copy; 2024 Môj Blog. Všetky práva vyhradené.</p>
</footer>

</body>
</html>
