{% extends "_main.jinja" %}

{% block title %} Login {% endblock %}

{% block main %}

<form action="{{ url_for('login_user') }}" method="post">
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </p>
    <input type="submit" value="login">
</form>
{% endblock %}