<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Bikes Orava</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<header>
    <h1>E Bikes Orava</h1>
</header>

<nav>
    <a href="#">Domov</a>
    <a href="#">Články</a>
    <a href="#">O nás</a>
    <a href="#">Kontakt</a>
</nav>

<main>
    <article>
        <h2>Názov článku 1</h2>
        <p>Dátum: 23. február 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
    </article>
    <article>
        <h2>Názov článku 2</h2>
        <p>Dátum: 24. február 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
    </article>
</main>

<footer>
    <p>&copy; 2024 Môj Blog. Všetky práva vyhradené.</p>
</footer>

</body>
</html>
